.table {
  max-width: 95%; /* Slightly reduced width for better alignment */
  width: auto;
  height: auto;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #e6e6e6; /* Light grey background */
  color: #222; /* Darker text for better contrast */
  font-family: 'Helvetica Neue', sans-serif; /* Updated font style */
  overflow-x: auto;
  table-layout: fixed;
  font-weight: bold; /* Less emphasis on font weight */
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 4px 12px rgba(0,0,0,0.23); /* Adjusted shadow for subtlety */
}

.table th, .table td {
  padding: 14px; /* Increased padding for better spacing */
  text-align: center;
  vertical-align: middle;
  border-bottom: 2px solid #ddd; /* Lighter and thicker border */
}

/* Alignment for the Team Name column */
.table th:nth-child(2), .table td:nth-child(2) {
  text-align: left;
}

.table th {
  background-color: #d9d9d9; /* Lighter header background */
  color: #0056b3; /* Changed to a soft blue */
  font-weight: bold;
  border-bottom: 2px solid #b3b3b3; /* Matching border to header */
  box-shadow: 0 1px 3px rgba(0,0,0,0.12); /* More subtle shadow */
}

/* Hover effects for interactivity */
.table tr:hover {
  background-color: #f2f2f2; /* Softer hover effect */
}

/* Zebra Striping for readability */
.table tr:nth-child(odd) {
  background-color: #fcfcfc; /* Slightly off-white for odd rows */
}
.table tr:nth-child(even) {
  background-color: #f0f0f0; /* Light gray for even rows */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .table {
    width: 100%;
    overflow-x: scroll;
  }

  .table th, .table td {
    padding: 10px; /* Adjusted padding for smaller screens */
  }
}

/* Styles for avatar images within the table */
.table .avatar {
  width: 40px; /* Reduced size for better layout */
  height: 40px;
  border-radius: 50%;
  margin-right: 5px; /* Less spacing */
  vertical-align: middle;
}

button {
  padding: 8px 15px;
  font-size: 14px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  margin: 10px 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.2s;
  display: inline-block;
}

button:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.leaderboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%; /* Matched with table width */
  transition: opacity 1s ease-in-out;
}

.leaderboard-container.loading {
  opacity: 0.5;  
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9); /* More opacity for visibility */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #222; /* Darker font color for contrast */
}

h1, button {
  text-align: center;
  margin: 10px 0;
}

